<p id="notice"><%= notice %></p>
<% if !cookies[:voted] %>
<h2><%= @poll.question%></h2>
<p>Created by: <%= @poll.owner%> at:<%= @poll.created_at%></p>

<% i = 1 %>
<% @poll.options.each do |option| %>
    <p>Answer <%= i %>: | <%= option.answer %> |
    <%=  link_to 'addvote', add_vote_poll_option_path(@poll, option), method: :put  %></p>
    <% i += 1 %>
<% end %>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>

 <% else # if cookies[:voted] %>
    <h2><%= @poll.question%></h2>
    <% @poll.options.each do |option| %>
        <p><%= option.answer %> | <%= option.count %> votes</p>
    <% end # do each %>

    <%= pie_chart @poll.options.pluck(:answer, :count) %>

<%end # if %>

